<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/nicolae/Projects/NewPipeAppium/src/main/java/net/newpipe/automation/Tests/SmokeTests.java">
        <classes>
            <class name="net.newpipe.automation.Tests.SmokeTests">
                <methods>
                    <include name="launchApp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>